/* body {
     background: dimgrey;
} */

.fill {
    background: seashell;
    position: relative;
    height: 10%;
    width: 5;
    top: 3%;
    left: 3%;
    cursor: pointer;
}

.empty {
    display: inline-block;
    height: 15%;
    width: 10%;
}

a{
    color:white;
}

.but{
   background-color:#0d47a1;

}
.pmt{
color:#0d47a1; 
    font-size:200%;
}

.photoProfile{
width: 10%;
}