body{
    height: 100%;
}

#logo_inicio{
  width: 150px;
  vertical-align: middle;
}

#div1, #div2, #div3, #div4, #div5, #div6 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}

a {
    color: white;
}

.but {
    background-color: #0d47a1;
}

.pmt {
    color: #0d47a1;
    font-size: 200%;
}

.photoProfile {
    width: 10%;
}

#section-container {
    width: 100%;
    height: 100%;
    /* padding:5%; */
}

#profile-container {
    padding: 2%;
}

* {
    margin: 0%;
    padding: 0%;
    /* height:100%; */

}

.name {
    display: inline-block;
}

.email {
    display: inline-block;
}

.blue-background2 {
  background: linear-gradient(to bottom, rgba(60,176,229,1) 0%, rgba(31,65,115,1) 74%, rgba(29,58,107,1) 79%);
}

.name {
    color: white;
    font-weight: bolder;
}

#div1,
#div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
#sign-out-btn{
    color:white;
    font-weight: bold;
    text-align:
    padding: 5px; 
}

#singOut{
    bottom: 0;
    position: fixed;
    z-index:1;
    margin-bottom: 0;
    padding-bottom:0;
}

footer{
    background: linear-gradient(to bottom, rgba(29, 58, 107, 1) 0%, rgba(60, 176, 229, 1) 77%, rgba(60, 176, 229, 1) 100%);
    height: 40px;
    z-index: -1;
}
